.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  
  .login-form {
    width: 500px;
    padding: 30px;
    /* border: 1px solid #fdf6f6; */
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* background-color: #f7f7f7; */
  }
  
  .login-form h2 {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: #846464;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input[type='email'],
  input[type='text'],
  input[type='password'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  