.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 10px; */
    padding:5px 10px 3px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.header_logo{
    display: flex;
    align-items: center;
}
.header_logo img{
    max-width: 30% !important;
}
.signup_btn button{
    border-radius: 10px;
    background-color: none !important;
    padding: 5px 20px 5px 20px;
}
.signup_btn_link{
    text-decoration: none !important;
    color: rgb(245, 239, 239) !important;
    background-color:#4caf50;
}